@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,900&display=swap');
:root{
  --preto: #353535ff;
  --ciano: #3c6e71ff;
  --white: #ffffffff;
  --platinum: #d9d9d9ff;
  --indigo: #061641;
  --laranja: #ff7900;
  --roxo: #5a189a;
  --rich-black: #03071eff;
  --chocolate-cosmos: #370617ff;
  --rosewood: #6a040fff;
  --penn-red: #9d0208ff;
  --engineering-orange: #d00000ff;
  --sinopia: #dc2f02ff;
  --persimmon: #e85d04ff;
  --princeton-orange: #f48c06ff;
  --orange-web: #faa307ff;
  --selective-yellow: #ffba08ff;
}

  .register-form{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#user-error{
  color: var(--selective-yellow);
  padding-top: 10px;
  font-size: 16px;
  display: none;
}

#email-error{
  color: var(--selective-yellow);
  padding-top: 10px;
  font-size: 16px;
  display: none;
}
#senha-error{
  color: var(--selective-yellow);
  padding-top: 10px;
  font-size: 16px;
  display: none;
}

.formlogin-container {
    border: 3px solid var(--white);
    border-radius: 10px;
    background: linear-gradient(135deg,var(--rich-black), var(--chocolate-cosmos));
    padding: 20px;
    width: 400px;
    height: 600px;
    }

.formlogin-container h2 {
    color: var(--white);
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
    margin-top: 0;
  }

#lblusuario {
    display: block;
    padding-top: 20px;
    margin-bottom: 10px;
    color: var(--white);
  }

#lblemail {
    display: block;
    padding-top: 30px;
    margin-bottom: 10px;
    color: var(--white);
  }

.formlogin-container label.lblsenha {
    padding-top: 30px;
    display: block;
    margin-bottom: 10px;
    color: var(--white);
  }

.formlogin-container input {
    border: none;
    padding: 10px 100px 10px 10px;
  }

.formlogin-container input[type="submit"] {
  background-color: var(--sinopia);
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--white);
  cursor: pointer;
  margin-top: 20px;
}