@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Eczar:wght@700&family=Manrope:wght@300;500;800&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600&family=Oxanium:wght@200;300;400;500;600;700;800&family=Palanquin:wght@100;200;300;400;500;600;700&family=Rubik:wght@400;500;600;700;800&display=swap');

:root{
    --preto: #353535;
    --ciano: #3c6e71;
    --white: #ffffff;
    --platinum: #d9d9d9;
    --indigo: #061641;
    --laranja: #ff7900;
    --roxo: #5a189a;
    --rich-black: #03071e;
    --chocolate-cosmos: #370617;
    --rosewood: #6a040f;
    --penn-red: #9d0208;
    --engineering-orange: #d00000;
    --sinopia: #dc2f02;
    --persimmon: #e85d04;
    --princeton-orange: #f48c06;
    --orange-web: #faa307;
    --selective-yellow: #ffba08;
}

.register-form{
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
}

.formlogin-container {
    border: 3px solid var(--white);
    border-radius: 10px;
    background-image: linear-gradient(to bottom right,var(--rich-black), var(--chocolate-cosmos));
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
}

.campo{
    height: 99px;
}

.titulologin{
    height: 120px;
    width: 100%;
    border-bottom: 3px solid var(--white);
}

.formlogin-container h1 {
    margin-top: 40px;
    font: 900 36px/30px "Poppins", sans-serif;
    color: var(--white);
}

#user-error{
    font: 500 14px/20px "Inter", sans-serif;
    color: var(--selective-yellow);
    padding-top: 5px;
    display: block;
}

#email-error{
    font: 500 14px/20px "Inter", sans-serif;
    color: var(--selective-yellow);
    padding-top: 5px;
    display: none;
}

#senha-error{
    font: 500 14px/20px "Inter", sans-serif;
    color: var(--selective-yellow);
    padding-top: 5px;
    display: none;
}

#sql-error{
    font: 500 14px/20px "Inter", sans-serif;
    color: var(--selective-yellow);
    padding-top: 5px;
    display: none;
}

#form{
    margin-top: 30px;
}

.formlogin-container label{
    font: 900 18px "Manrope", sans-serif;
    margin: 0px 0 0 3px;
    color: var(--white);
}

.formlogin-container .inputtxt {
    background-color: var(--white);
    outline: none; border: none;
    border-radius: 5px;
    padding: 12px 100px 12px 10px;
    font: 500 16px/20px "Inter", sans-serif;
    color: var(--rich-black);
}

.span-required{
    display: block;
    color: var(--engineering-orange);
    font-size: 14px;
    margin: 3px 0 0 3px;
}

.password-container{
    position: relative;
}

#eye{
    position: absolute;
    top: 37%;
    right: 4%;
    cursor: pointer;
    color: var(--rich-black);
    font-size: 22px;
}

.formlogin-container #submit{
    background-color: var(--persimmon);
    border: none;
    border-radius: 15px;
    padding: 10px 25px;
    color: var(--white);
    cursor: pointer;
    margin-top: 10px;
    font: 500 20px/30px "Poppins", sans-serif;
    }

.formlogin-container #submit:hover{
    background-color: var(--sinopia);
    transition: .3s;
}